/* MEDIA QUERY INDEX */
@media (max-width: 415px) {
  .content-wrap {
    margin-top: 50%;
  }
  .logo-np {
    width: 50%;
  }
  .idiomas-np {
    width: 50%;
  }
.logos-redes {
    text-align: center;
    margin: 0% auto;
    background-color: white;
    padding: 10px;
    width: 50%;
}
  .logo-size {
    width: 45px;
    padding: 0px 15px;
  }
}

/* MEDIA QUERY HOME */
@media (max-width: 415px) {
  .logo {
    margin: 5% auto;
    display: block;
  }
  .Menu {
    width: 100%;
    left: 0;
    top: 0;
  }
  .Menu li li.-hasSubmenu > a, .Menu:not(.-horizontal) > li.-hasSubmenu > a {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  #acerca-de {
    width: 100%;
    top: 135px;
    left: 0px;
  }
  .texto {
    width: 100%;
    margin-bottom: auto;
  }

  /* PROYECTOS */
  #proyectos {
    top: 85px;
    left: 0;
    text-align: center;
    width: 100%;
  }

  /* PROYECTOS MENU TEXT CENTER */
  #proyectos > li.-hasSubmenu, #proyectos > li > a {
    text-align: center;
    width: 100% !important;
    padding: 0px;
  }
  #proyectos-produccion > li.-hasSubmenu, #proyectos-produccion > li > a {
    text-align: center;
    width: 100% !important;
    padding: 0px;
  }
  #proyectos-supervision > li.-hasSubmenu, #proyectos-supervision > li > a {
    text-align: center;
    width: 100% !important;
    padding: 0px;
  }

  /* PROYECTOS PRODUCCION */
  #proyectos-produccion {
    left: 0;
    width: 100%;
    top: 60px;
  }
  #descripcion-cerveza {
    top: 235px;
    left: auto;
    text-align: left;
  }
  #descripcion-lvmh {
    top: 210px;
    left: auto;
    text-align: left;
  }
  #descripcion-azul {
    top: 185px;
    left: auto;
    text-align: left;
  }
  #descripcion-hellow {
    top: 160px;
    left: auto;
    text-align: left;
  }
  #descripcion-casa {
    top: 135px;
    left: auto;
    text-align: left;
  }
  #descripcion-mutek {
    top: 110px;
    left: auto;
    text-align: left;
  }
  #descripcion-doritos {
    top: 85px;
    left: auto;
    text-align: left;
  }
  #descripcion-lancome {
    top: 60px;
    left: auto;
    text-align: left;
  }
  #descripcion-jose {
    top: 35px;
    left: auto;
    text-align: left;
  }

  /* PROYECTOS DE SUPERVISION */
  #proyectos-supervision {
    left: 0;
    width: 100%;
    top: 35px;
  }
  #descripcion-artemio {
    top: 110px;
    left: auto;
    width: 100%;
    text-align: left;
  }
  #descripcion-niñas {
    top: 85px;
    left: auto;
    width: 100%;
    text-align: left;
  }
  #descripcion-chivas {
    top: 60px;
    left: auto;
    width: 100%;
    text-align: left;
  }
  #descripcion-camila {
    top: 36px;
    left: auto;
    width: 100%;
    text-align: left;
  }

  /* TEXTURAS */
  #texturas {
    top: 110px;
    left: auto;
  }
  .textura-1, .textura-2, .textura-3, .textura-4, .textura-5, .textura-6 {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 17% !important;
    width: 100% !important;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position-y: 0px;
  }
  .textura-1 {
    background-image: url(../texturas-mobile-3/vigas.jpg);
  }
  #textura-uno {
    top: 314px;
    left: auto;
    width: 100%;
  }
  .textura-2 {
    background-image: url(../texturas-mobile-3/andamios.jpg);
  }
  #textura-dos {
    top: 263px;
    left: auto;
    width: 100%;
  }
  .textura-3 {
    background-image: url(../texturas-mobile-3/ladrillo.jpg);
  }
  #textura-tres {
      top: 211px;
      left: auto;
      width: 100%;
  }
  .textura-4 {
    background-image: url(../texturas-mobile-3/madera.jpg);
  }
  #textura-cuatro {
    top: 159px;
    left: auto;
    width: 100%;
  }
  .textura-5 {
    background-image: url(../texturas-mobile-3/concreto.jpg);
  }
  #textura-cinco {
    top: 108px;
    left: auto;
    width: 100%;
  }
  .textura-6 {
    background-image: url(../texturas-mobile-3/sonido.jpg);
  }
  #textura-seis {
    top: 56px;
    left: auto;
    width: 100%;
  }

  /* TEXTURAS CENTRAR Y SACAR PADDING */
  #textura-uno > li.-hasSubmenu, #textura-uno > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-dos > li.-hasSubmenu, #textura-dos > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-tres > li.-hasSubmenu, #textura-tres > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-cuatro > li.-hasSubmenu, #textura-cuatro > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-cinco > li.-hasSubmenu, #textura-cinco > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-seis > li.-hasSubmenu, #textura-seis > li > a {
    padding: 0px;
    width: 100% !important;
  }

  /* TEXTURA DESCRIPCION */
  #textura-descripcion-hellow {
    top: 35px;
    left: auto;
  }
  #textura-descripcion-lvmh {
    top: 36px;
    left: 0;
    width: 100%;
  }
  #textura-descripcion-casa {
    top: 35px;
    left: auto;
  }
  #textura-descripcion-cerveza {
    left: auto;
    top: 35px;
  }
  #textura-descripcion-mutek {
    top: 85px;
    left: auto;
  }
  #textura-descripcion-doritos {
    top: 60px;
    left: auto;
  }
  #textura-descripcion-jose {
    top: 35px;
    left: auto;
  }
  #textura-descripcion-azul {
    top: 60px;
    left: auto;
  }
  #textura-descripcion-lancome {
    top: 35px;
    left: auto;
  }
  /* REDES SOCIALES */
  #rrss {
    top: 60px;
    left: 0;
    text-align: center;
    padding: 0px;
    width: 100%;
  }

  /* CONTACTO */
  #contacto {
    top: 35px;
    left: 0;
    text-align: center;
    padding: 0px;
    width: 100%;
  }
  /* TEXTURA HOVER */
  .textura-1:hover {
    background-image: url(../texturas-mobile-3/vigas.jpg);
  }
  .textura-2:hover {
    background-image: url(../texturas-mobile-3/andamios.jpg);
  }
  .textura-3:hover {
    background-image: url(../texturas-mobile-3/ladrillo.jpg);
  }
  .textura-4:hover {
    background-image: url(../texturas-mobile-3/madera.jpg);
  }
  .textura-5:hover {
    background-image: url(../texturas-mobile-3/concreto.jpg);
  }
  .textura-6:hover {
    background-image: url(../texturas-mobile-3/sonido.jpg);
  }

}

@media only screen and (min-width: 416px) {
  #li-height {
    line-height: 40px !important;
    margin-bottom: 0px;
  }
}

