/* MEDIA QUERY INDEX */
@media (max-width: 415px) {
  .content-wrap {
    margin-top: 50%;
  }
  .logo-np {
    width: 50%;
  }
  .idiomas-np {
    width: 50%;
  }
.logos-redes {
    text-align: center;
    margin: 0% auto;
    background-color: white;
    padding: 10px;
    width: 50%;
}
  .logo-size {
    width: 45px;
    padding: 0px 15px;
  }
}

/* MEDIA QUERY HOME */
@media (max-width: 415px) {
  .logo {
    margin: 5% auto;
    display: block;
  }
  .Menu {
    width: 100%;
    left: 0;
    top: 0;
  }
  .Menu li li.-hasSubmenu > a, .Menu:not(.-horizontal) > li.-hasSubmenu > a {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  #acerca-de {
    width: 100%;
    top: 135px;
    left: 0px;
  }
  .texto {
    width: 100%;
    margin-bottom: auto;
  }

  /* PROYECTOS */
  #proyectos {
    top: 85px;
    left: 0;
    text-align: center;
    width: 100%;
  }

  /* PROYECTOS MENU TEXT CENTER */
  #proyectos > li.-hasSubmenu, #proyectos > li > a {
    text-align: center;
    width: 100% !important;
    padding: 0px;
  }
  #proyectos-produccion > li.-hasSubmenu, #proyectos-produccion > li > a {
    text-align: center;
    width: 100% !important;
    padding: 0px;
  }
  #proyectos-supervision > li.-hasSubmenu, #proyectos-supervision > li > a {
    text-align: center;
    width: 100% !important;
    padding: 0px;
  }

  /* PROYECTOS PRODUCCION */
  #proyectos-produccion {
    left: 0;
    width: 100%;
    top: 60px;
  }
  #descripcion-cerveza {
    top: 285px;
    left: auto;
    text-align: left;
  }
  #descripcion-lvmh {
    top: 260px;
    left: auto;
    text-align: left;
  }
  #descripcion-azul {
    top: 235px;
    left: auto;
    text-align: left;
  }
  #descripcion-hellow {
    top: 210px;
    left: auto;
    text-align: left;
  }
  #descripcion-casa {
    top: 185px;
    left: auto;
    text-align: left;
  }
  #descripcion-mutek {
    top: 160px;
    left: auto;
    text-align: left;
  }
  #descripcion-doritos {
    top: 135px;
    left: auto;
    text-align: left;
  }
  #descripcion-lancome {
    top: 110px;
    left: auto;
    text-align: left;
  }
  #descripcion-jose {
    top: 85px;
    left: auto;
    text-align: left;
  }
  #descripcion-barra-moet {
    top: 60px;
    left: auto;
    text-align: left;
  }
  #descripcion-moet {
    top: 35px;
    left: auto;
    text-align: left;
  }

  /* PROYECTOS DE SUPERVISION */
  #proyectos-supervision {
    left: 0;
    width: 100%;
    top: 35px;
  }
  #descripcion-artemio {
    top: 110px;
    left: auto;
    width: 100%;
    text-align: left;
  }
  #descripcion-niñas {
    top: 85px;
    left: auto;
    width: 100%;
    text-align: left;
  }
  #descripcion-chivas {
    top: 60px;
    left: auto;
    width: 100%;
    text-align: left;
  }
  #descripcion-camila {
    top: 36px;
    left: auto;
    width: 100%;
    text-align: left;
  }

  /* TEXTURAS Y UL TOPS
  ------------------------- */
  #texturas {
    top: 110px;
    left: auto;
  }
  .textura-1, .textura-2, .textura-3, .textura-4, .textura-5, .textura-6, .textura-7, .textura-8, .textura-9, .textura-10, .texture-1, .texture-2, .texture-3, .texture-4, .texture-5, .texture-6, .texture-7, .texture-8, .texture-9, .texture-10 {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 10% !important;
    width: 100% !important;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position-y: 0px;
  }
  .texture-1 {
    background-image: url(../texturas-mob-eng/texture-14);
  }
  .textura-1 {
    background-image: url(../texturas-mobile-3/texture-14);
  }
  #textura-uno {
    top: 454px;
    left: auto;
    width: 100%;
  }
  .texture-2 {
    background-image: url(../texturas-mob-eng/andamios.jpg);
  }
  .textura-2 {
    background-image: url(../texturas-mobile-3/andamios.jpg);
  }
  #textura-dos {
    top: 410px;
    left: auto;
    width: 100%;
  }
  .texture-3 {
    background-image: url(../texturas-mob-eng/ladrillos.jpg);
  }
  .textura-3 {
    background-image: url(../texturas-mobile-3/ladrillo.jpg);
  }
  #textura-tres {
      top: 366px;
      left: auto;
      width: 100%;
  }
  .texture-4 {
    background-image: url(../texturas-mob-eng/wood.jpg);
  }
  .textura-4 {
    background-image: url(../texturas-mobile-3/madera.jpg);
  }
  #textura-cuatro {
    top: 321px;
    left: auto;
    width: 100%;
  }
  .texture-5 {
    background-image: url(../texturas-mob-eng/concreto.jpg);
  }
  .textura-5 {
    background-image: url(../texturas-mobile-3/concreto.jpg);
  }
  #textura-cinco {
    top: 277px;
    left: auto;
    width: 100%;
  }
  .texture-6 {
    background-image: url(../texturas-mob-eng/texture-11);
  }
  .textura-6 {
    background-image: url(../texturas-mobile-3/texture-11);
  }
  #textura-seis {
    top: 232px;
    left: auto;
    width: 100%;
  }
  .texture-7 {
    background-image: url(../texturas-mob-eng/texture-7);
  }
  .textura-7 {
    background-image: url(../texturas-mobile-3/texture-7);
  }
  #textura-siete {
    top: 188px;
    left: auto;
    width: 100%;
  }
  .texture-8 {
    background-image: url(../texturas-mob-eng/texture-8);
  }
  .textura-8 {
    background-image: url(../texturas-mobile-3/texture-8);
  }
  #textura-ocho {
    top: 144px;
    left: auto;
    width: 100%;
  }
  .texture-9 {
    background-image: url(../texturas-mob-eng/texture-9);
  }
  .textura-9 {
    background-image: url(../texturas-mobile-3/texture-9);
  }
  #textura-nueve {
    top: 99px;
    left: auto;
    width: 100%;
  }
  .texture-10 {
    background-image: url(../texturas-mob-eng/texture-10);
  }
  .textura-10 {
    background-image: url(../texturas-mobile-3/texture-10);
  }
  #textura-diez {
    top: 55px;
    left: auto;
    width: 100%;
  }

  /* TEXTURAS CENTRAR Y SACAR PADDING */
  #textura-uno > li.-hasSubmenu, #textura-uno > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-dos > li.-hasSubmenu, #textura-dos > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-tres > li.-hasSubmenu, #textura-tres > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-cuatro > li.-hasSubmenu, #textura-cuatro > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-cinco > li.-hasSubmenu, #textura-cinco > li > a {
    padding: 0px;
    width: 100% !important;
  }
  #textura-seis > li.-hasSubmenu, #textura-seis > li > a {
    padding: 0px;
    width: 100% !important;
  }

  /* TEXTURA DESCRIPCION */
  #textura-descripcion-hellow {
    top: 35px;
    left: auto;
  }
  #textura-descripcion-lvmh {
    top: 36px;
    left: 0;
    width: 100%;
  }
  #textura-descripcion-casa {
    top: 35px;
    left: auto;
  }
  #textura-descripcion-cerveza {
    left: auto;
    top: 35px;
  }
  #textura-descripcion-mutek {
    top: 85px;
    left: auto;
  }
  #textura-descripcion-doritos {
    top: 60px;
    left: auto;
  }
  #textura-descripcion-jose {
    top: 35px;
    left: auto;
  }
  #textura-descripcion-azul {
    top: 60px;
    left: auto;
  }
  #textura-descripcion-lancome {
    top: 35px;
    left: auto;
  }
  /* REDES SOCIALES */
  #rrss {
    top: 60px;
    left: 0;
    text-align: center;
    padding: 0px;
    width: 100%;
  }

  /* CONTACTO */
  #contacto {
    top: 35px;
    left: 0;
    text-align: center;
    padding: 0px;
    width: 100%;
  }
  /* TEXTURA CLICK/HOVER EN MOBILE
  ---------------------------------------------*/
  .textura-1:hover {
    background-image: url(../texturas-mobile-3/texture-14);
  }
  .textura-2:hover {
    background-image: url(../texturas-mobile-3/andamios.jpg);
  }
  .textura-3:hover {
    background-image: url(../texturas-mobile-3/ladrillo.jpg);
  }
  .textura-4:hover {
    background-image: url(../texturas-mobile-3/madera.jpg);
  }
  .textura-5:hover {
    background-image: url(../texturas-mobile-3/concreto.jpg);
  }
  .textura-6:hover {
    background-image: url(../texturas-mobile-3/texture-11);
  }
  .textura-7:hover {
    background-image: url(../texturas-mobile-3/texture-7);
  }
  .textura-8:hover {
    background-image: url(../texturas-mobile-3/texture-8);
  }
  .textura-9:hover {
    background-image: url(../texturas-mobile-3/texture-9);
  }
  .textura-10:hover {
    background-image: url(../texturas-mobile-3/texture-10);
  }

  /* TEXTURA CLICK/HOVER EN INGLES MOBILE
  ------------------------------------------------- */
  .texture-1:hover {
    background-image: url(../texturas-mob-eng/texture-14);
  }
  .texture-2:hover {
    background-image: url(../texturas-mob-eng/andamios.jpg);
  }
  .texture-3:hover {
    background-image: url(../texturas-mob-eng/ladrillo.jpg);
  }
  .texture-4:hover {
    background-image: url(../texturas-mob-eng/madera.jpg);
  }
  .texture-5:hover {
    background-image: url(../texturas-mob-eng/concreto.jpg);
  }
  .texture-6:hover {
    background-image: url(../texturas-mob-eng/texture-11);
  }
  .texture-7:hover {
    background-image: url(../texturas-mob-eng/texture-7);
  }
  .texture-8:hover {
    background-image: url(../texturas-mob-eng/texture-8);
  }
  .texture-9:hover {
    background-image: url(../texturas-mob-eng/texture-9);
  }
  .texture-10:hover {
    background-image: url(../texturas-mob-eng/texture-10);
  }

  /* SUPERVISION MUSICAL */
  .chivas {
  height: 430px;
  }
  .camila {
    height: 350px;
  }
  .artemio {
    height: 430px;
  }
  .niñas-bien {
    height: 330px;
  }

  /* DATOS LINE HEIGHTS EN DESCRIPCION */
  #li-height-mob {
    line-height: 20px !important;
  }
  #li-height-40 {
    line-height: 40px !important;
    margin-bottom: 0px;
  }
    #li-height-eng {
    line-height: 25px !important;
    margin-bottom: 20px;
  }
    #li-height-eng-2 {
    line-height: 35px !important;
    margin-bottom: 0px;
  }
    #li-height-some {
    line-height: 25px !important;
    margin-bottom: 20px;
  }
    #li-height-some-2 {
    line-height: 35px !important;
    margin-bottom: 0px;
  }
    #li-height-eng-20 {
    line-height: 20px !important;
  }
    #li-height-ninas {
    line-height: 35px !important;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 416px) {
  #li-height {
    line-height: 25px !important;
    margin-bottom: 10px;
  }
  #li-height-ninas {
    line-height: 25px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 416px) {
  .li-height-some-2 {
    line-height: 20px !important;
    margin-bottom: 10px;
  }
  #li-height-eng {
    line-height: 20px !important;
    margin-bottom: 10px;
  }
  #li-height-eng-2 {
    line-height: 20px !important;
    margin-bottom: 10px;
  }
  #li-height-eng-20 {
    line-height: 20px !important;
    margin-bottom: 20px;
  }
  .li-height-some {
    line-height: 40px !important;
    margin-bottom: 0px;
  }
  .li-height-chivas {
    line-height: 35px !important;
    margin-bottom: 0px;
  }
}

