body {
  background: url(../textures/texturas_-02.png);
  background-size: 2000px 1125px;
  background-repeat: repeat
}

.logo-palabra {
  background-color: white;
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 20px;
}

.links {
  padding: 15px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}
.mail-img {
  width: 50px;
  height: 50px;
}

.links:hover {
  text-decoration: none;
}

a {
   font-family: 'Orator Std';
}

.links-div {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: relative;
  left: 1050px;
  bottom: 250px
}

.idiomas {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  margin-top: -230px;
}

.idiomas-link {
  text-decoration: none;
  color: black;
}


@font-face {
    font-family: 'Orator Std';
    src: url('fonts/OratorStd.eot');
    src: url('fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
         url('fonts/OratorStd.woff2') format('woff2'),
         url('fonts/OratorStd.woff') format('woff'),
         url('fonts/OratorStd.ttf')  format('truetype'),
         url('fonts/OratorStd.svg#Orator Std') format('svg');
}
