body {
  background: url(../textures/texturas_-01.png);
  background-size: 2000px 1125px;
  background-repeat: repeat
}

a, li, p {
   font-family: 'Orator Std';
}
.width-aboutus {
  width: 500px;
}

.style-border {
  border: black solid 3px;
}

.p-color {
  color: black;
}

.datos {
  background-color: black !important;
  color: white;
  padding: 10px;
}

.texto {
  width: 800px;
  padding: 10px;
}

.circle {
    border-radius: 50%;
}

.contact {
  text-decoration: none !important;
  color: black;
}

.contact:hover {
  color: black;
}

.nowrap-sermusical {
  white-space: nowrap;
}

.texturas-redondas {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
}

.text-img {
  height: 30%;
  width: 30%;
}

/* TEXTURAS IMAGENES POSICION */
.uno {
  position: absolute;
  top: 0px;
  left: 0px;
}
.dos {
  position: absolute;
  top: 0px;
  left: 0px;
}
.tres {
  position: absolute;
  top: 0px;
  left: 0px;
}
.cuatro {
  position: absolute;
  top: 0px;
  left: 0px;
}
.cinco {
  position: absolute;
  top: 0px;
  left: 0px;
}
.seis {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* FONTS */
@font-face {
    font-family: 'oxfam_tstar_proheadline';
    src: url('copia_de_tstar-webfont.woff2') format('woff2'),
         url('copia_de_tstar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Orator Std';
    src: url('fonts/OratorStd.eot');
    src: url('fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
         url('fonts/OratorStd.woff2') format('woff2'),
         url('fonts/OratorStd.woff') format('woff'),
         url('fonts/OratorStd.ttf')  format('truetype'),
         url('fonts/OratorStd.svg#Orator Std') format('svg');
}
