body {
  background: url(../textures/texturas_-01.png);
  background-size: 2000px 1125px;
  background-repeat: repeat
}

a, li, p {
   font-family: 'Orator Std';
}
.width-aboutus {
  width: 500px;
}

.style-border {
  border: black solid 3px;
}

.p-color {
  color: black;
}

.datos {
  background-color: black !important;
  color: white;
  padding: 10px;
}

.texto {
  width: 800px;
  padding: 10px;
  line-height: 25px;
}

.circle {
    border-radius: 50%;
}

.contact {
  text-decoration: none !important;
  color: black;
}

.contact:hover {
  color: black;
}

.nowrap-sermusical {
  white-space: nowrap;
}

.p-2 {
  line-height: 2rem;
}

#li-height {
  line-height: 25px !important;
}

/* IMAGEN MAS CHICA */
.img-chica {
width: 99.9%;
}

/* HEIGHT SUPERVISION MUSICAL */
.artemio {
  height: 370px;
}
.niñas-bien {
  height: 300px;
}
.chivas {
  height: 330px;
}
.camila {
  height: 300px;
}

/* FONTS */
@font-face {
    font-family: 'oxfam_tstar_proheadline';
    src: url('copia_de_tstar-webfont.woff2') format('woff2'),
         url('copia_de_tstar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Orator Std';
    src: url('fonts/OratorStd.eot');
    src: url('fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
         url('fonts/OratorStd.woff2') format('woff2'),
         url('fonts/OratorStd.woff') format('woff'),
         url('fonts/OratorStd.ttf')  format('truetype'),
         url('fonts/OratorStd.svg#Orator Std') format('svg');
}
