/* DESCRIPCION CARPA
------------------------------------ */
#descripcion-hellow-carpa {
    top: -3px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION ANDAMIOS
------------------------------------ */
#descripcion-mutek-andamios {
    top: -28px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-doritos-andamios {
    top: -53px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-jose-andamios {
    top: -78px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION LADRILLOS
------------------------------------- */
#descripcion-azul-ladrillos {
    top: -3px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-casa-ladrillos {
    top: -28px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-lancome-ladrillos {
    top: -53px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION MADERA
------------------------------------- */
#descripcion-casa-madera {
    top: -78px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-mutek-madera {
    top: -103px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-doritos-madera {
    top: -128px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-lancome-madera {
    top: -153px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-barra-moet-madera {
    top: -178px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-moet-madera {
    top: -203px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION CONCRETO
---------------------------------------- */
#descripcion-azul-concreto {
    top: -3px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-casa-concreto {
    top: -28px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-doritos-concreto {
    top: -53px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-lancome-concreto {
    top: -78px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-jose-concreto {
    top: -103px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION ESPEJO
---------------------------------------- */
#descripcion-azul-espejo {
    top: -28px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-casa-espejo {
    top: -53px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-lancome-espejo {
    top: -78px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-barra-moet-espejo {
    top: -103px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION COLOR
---------------------------------------- */
#descripcion-azul-color {
    top: -3px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-casa-color {
    top: -53px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-hellow-color {
    top: -28px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-mutek-color {
    top: -78px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-doritos-color {
    top: -103px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-lancome-color {
    top: -128px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-moet-color {
    top: -153px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION LUZ
---------------------------------------- */
#descripcion-azul-luz {
    top: -3px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-hellow-luz {
    top: -28px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-mutek-luz {
    top: -53px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-doritos-luz {
    top: -78px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-lancome-luz {
    top: -103px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-jose-luz {
    top: -128px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-moet-luz {
    top: -153px;
    left: 369px;
    margin-bottom: 20px;
}
/* DESCRIPCION TABLAROCA
---------------------------------------- */
#descripcion-azul-tabla {
    top: -3px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-lancome-tabla {
    top: -28px;
    left: 369px;
    margin-bottom: 20px;
}
#descripcion-jose-tabla {
    top: -53px;
    left: 369px;
    margin-bottom: 20px;
}

