/* UL ID´s */
#acerca-de {
  top: -3px;
  left: 199px;
}
#proyectos {
  top: -83px;
  left: 199px;
}
#texturas {
  top: -43px;
  left: 199px;
}
#rrss {
  top: -123px;
  left: 199px;
}
#contacto {
  top: -163px;
  left: 199px;
}




/* UL PROYECTOS */
#doritos {
  left: 200px;
}


/* DESCRIPCION PROYECTOS */
#descripcion-doritos {
  left: 200px;
}
