/* UL ID´s */
#acerca-de {
  top: -3px;
  left: 199px;
}
#proyectos {
  top: -53px;
  left: 199px;
}
#texturas {
  top: -28px;
  left: 199px;
}
#rrss {
  top: -78px;
  left: 199px;
}
#contacto {
  top: -103px;
  left: 199px;
}


/* UL PROYECTOS PRODUCCION */
#proyectos-produccion {
  left: 199px;
  width: 375px;
}

/* UL PROYECTOS SUPERVISION */
#proyectos-supervision {
  top: -28px;
  left: 199px;
}

/* DESCRIPCION PROYECTOS  PRODUCCION*/
#descripcion-cerveza {
  left: 369px;
}
#descripcion-american {
  top: -43px;
  left: 369px;
}
#descripcion-lvmh {
  top: -28px;
  left: 369px;
}
#descripcion-azul {
  top: -53px;
  left: 369px;
}
#descripcion-hellow {
  top: -78px;
  left: 369px;
}
#descripcion-casa {
  top: -103px;
  left: 369px;
}
#descripcion-mutek {
  top: -128px;
  left: 369px;
}
#descripcion-doritos {
  top: -153px;
  left: 369px;
}
#descripcion-lancome {
  top: -178px;
  left: 369px;
}
#descripcion-jose {
  top: -203px;
  left: 369px;
}

/* DESCRIPCION PROYECTOS  SUPERVISION*/
#descripcion-artemio {
  left: 199px;
  /* height: 375px; */
}
#descripcion-niñas {
  top: -28px;
  left: 199px;
}
#descripcion-chivas {
  top: -53px;
  left: 199px;
}
#descripcion-camila {
  top: -78px;
  left: 199px;
}

/* TEXTURAS POSICIONAMIENTO PROYECTOS */
#textura-uno {
  top: -110px;
  left: 140px;
  width: 375px;
}
#textura-dos {
  top: -178px;
  left: 223px;
  width: 375px;
}
#textura-tres {
  top: -36px;
  left: 221px;
  width: 375px;
}
#textura-cuatro {
  top: -98px;
  left: 285px;
  width: 375px;
}
#textura-cinco {
  top: -192px;
  left: 320px;
  width: 375px;
}
#textura-seis {
  top: -13px;
  left: 300px;
  width: 375px;
}

/* DESCRIPCION TEXTURAS PROYECTOS  PRODUCCION*/
#textura-descripcion-cerveza {
  left: 369px;
}
#textura-descripcion-american {
  top: -43px;
  left: 369px;
}
#textura-descripcion-lvmh {
  top: -3px;
  left: 369px;
}
#textura-descripcion-azul {
  top: -3px;
  left: 369px;
}
#textura-descripcion-hellow {
  top: -3px;
  left: 369px;
}
#textura-descripcion-casa {
  top: -3px;
  left: 369px;
}
#textura-descripcion-mutek {
  top: -3px;
  left: 369px;
}
#textura-descripcion-doritos {
  top: -43px;
  left: 369px;
}
#textura-descripcion-lancome {
  top: -43px;
  left: 369px;
}
#textura-descripcion-jose {
  top: -83px;
  left: 369px;
}
